.pq6dq46d {
    display: inline-flex;
}
.poy2od1o {
    position: fixed;
}
.h4z51re5 {
    padding-left: 10px;
}
.lt9micmv {
    padding-left: 20px;
}
.pi1r6xr4 {
    height: 52px;
}
.oo1teu6h {
    background-color: var(--primary-deemphasized-button-background);
}
.tvmbv18p {
    margin-bottom: 4px;
}
.rv4hoivh {
    padding-right: 10px;
}
.osnr6wyh {
    padding-bottom: 10px;
}

.jktsbyx5 {
    padding-top: 10px;
}
.k7cz35w2 {
    height: 32px;
}
.j0d6stlx {
    background-size: 100%;
}
.bsnbvmp4 {
    width: 32px;
}
.n7fi1qx3 {
    right: 0;
}
.input-caption-div{
height: 290px;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}
.input-comment-div .tiktok-1vwgyq9-DivInputAreaContainer,.input-div .tiktok-1vwgyq9-DivInputAreaContainer {
	width: 65%;
	padding: 10px 10px;
	font-size: 15px;
	color: #333;
	border: none;
	outline: none;
	border-radius: 30px;
	background-color: #fff0;
}
.input-div .tiktok-1vwgyq9-DivInputAreaContainer{
    text-align:left ;
}
.title-tag{
    position: absolute;
    font-size: 14px;
    top:12px;
    left: 12px;
}
.list-tag-item{
    max-height:300px ;
}
.list-tag-item::-webkit-scrollbar{
    width: 8px;
}
.list-tag-item::-webkit-scrollbar-thumb{
    background-color: rgb(170, 170, 167);
    border-radius: 4px;
}
.o1lve8g4 {
    max-height: 110px;
}
.input-caption-div .tiktok-1vwgyq9-DivInputAreaContainer {
    max-width: 80%;
    color: #fff;
    padding: 8px;
    word-break: break-word;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
}
.ms7hmo2b {
    background-color: var(--overlay-alpha-80);
}
.kr520xx4 {
    top: 0;
}
.j9ispegn {
    left: 0;
}
.i09qtzwb {
    bottom: 0;
}
.l9j0dhe7 {
    position: relative;
}

.h3gjbzrl {
    min-height: 100vh;
}

.pfnyh3mw {
    flex-shrink: 0;
}
.oi9244e8 {
    margin-right: 8px;
}
.kb5gq1qc {
    flex-grow: 0;
}
.pnzxbu4t {
    min-height: 500px;
}
.q5pvgw0d {
    padding-top: var(--dialog-anchor-vertical-padding);
}
.l7iv3u6u {
    padding-bottom: var(--dialog-anchor-vertical-padding);
}
.taijpn5t {
    justify-content: center;
}


.pedkr2u6 {
    opacity: 1;
}
.s8dhs3de {
    max-height: 90vh;
}
.swmj3c3o {
    right: 12px;
}
.jaqpu5ht {
    right: 3px;
}
.gwewmpg2 {
    top: 3px;
}
.a7x4jqbc {
    transform: scale(.75) translate(8px,-8px);
}
.bixrwtb6 {
    object-fit: cover;
}
.id8f4lua {
    -webkit-filter: blur(2px);
}
.oqujnh0m {
    height: 10%;
}
.cg1f0npj {
    width: 10%;
}
.b6s8h9p6 {
    transform: scale(11);
}
.r0294ipz {
    object-fit: contain;
}
.l9j0dhe7.jm1wdb64.k4urcfbm.datstx6m:hover{
    opacity: 0.6;
    
}

.s1i5eluu:hover {
    background-color: rgb(58, 102, 221);
}
.mfofr4af {
    min-height: 428px;
}
.op6gxeva {
    -webkit-filter: var(--filter-accent);
}
.bkfpd7mw {
    justify-content: flex-end;
}
.b5q2rw42 {
    margin-right: -6px;
}
.knomaqxo {
    color: var(--primary-deemphasized-button-text);
}

.jq4qci2q {
    font-size: .9375rem;
}
.d2edcug0 {
    max-width: 100%;
}
.tkv8g59h {
    padding-right: 40px;
}

.s1i5eluu {
    background-color: var(--primary-button-background);
}

.ri5dt5u2 {
    border-bottom-left-radius: var(--button-corner-radius);
}


.kt9q3ron {
    border-top-left-radius: var(--button-corner-radius);
}

.isp2s0ed {
    border-bottom-right-radius: var(--button-corner-radius);
}
.fl8dtwsd {
    padding-left: 40px;
}
.oh7imozk {
    width: 500px;
}
.mfofr4af {
    min-height: 428px;
}
.cb02d2ww {
    height: 60px;
}
.linmgsc8 {
    border-bottom: 1px solid var(--media-inner-border);
}
.pmk7jnqg {
    position: absolute;
}
.fcg2cn6m {
    top: 12px;
}
.cypi58rs {
    right: 16px;
}
.l94mrbxd {
    font-size: inherit;
}
.ihqw7lf3 {
    padding-bottom: 16px;
}
.discj3wi {
    padding-top: 16px;
}
.g9en0fbe {
    margin-right: 11px;
}
.dbvibxzo {
    margin-top: 11px;
}

.lrazzd5p {
    font-weight: 600;
}

.j5wam9gi {
    line-height: 1.2308;
}
.hpfvmrgz {
    min-width: 0;
}
.e9vueds3 {
    font-size: .8125rem;
}

.c1et5uql {
    word-wrap: break-word;
}
.scb9dxdr {
    padding-left: 8px;
}
.p86d2i9g {
    border-top-right-radius: 6px;
}
.kzx2olss {
    border-bottom-left-radius: 6px;
}
.ecm0bbzt {
    padding-top: 4px;
}
.e5nlhep0 {
    padding-bottom: 4px;
}

.beltcj47 {
    border-top-left-radius: 6px;
}
.aot14ch1 {
    border-bottom-right-radius: 6px;
}


.uo3d90p7 {
    border-bottom-right-radius: 8px;
}
.ue3kfks5 {
    border-top-left-radius: 8px;
}
.sj5x9vvc {
    padding-bottom: 8px;
}

.pw54ja7n {
    border-top-right-radius: 8px;
}
.l82x9zwi {
    border-bottom-left-radius: 8px;
}





.tr4kgdav {
    border-left: solid 1px var(--divider);
}
.eip75gnj {
    border-bottom: solid 1px var(--divider);
}
.dwg5866k {
    border-top: solid 1px var(--divider);
}
.ccnbzhu1 {
    border-right: solid 1px var(--divider);
}
.k4urcfbm {
    width: 100%;
}
.tlpljxtp {
    border-right-color: var(--always-dark-overlay);
}
.sk4xxmp2 {
    border-left-width: 0;
}
.s44p3ltw {
    border-bottom-style: solid;
}
.rt8b4zig {
    border-top-width: 0;
}
.qensuy8j {
    border-bottom-color: var(--always-dark-overlay);
}

.ppp5ayq2 {
    border-left-color: var(--always-dark-overlay);
}
.n8ej3o3l {
    border-right-width: 0;
}
.mtkw9kbi {
    border-top-color: var(--always-dark-overlay);
}
.pcp91wgn {
    padding-left: 6px;
}
.p8fzw8mz {
    padding-right: 6px;
}
.iuny7tx3 {
    padding-bottom: 6px;
}
.ipjc6fyt {
    padding-top: 6px;
}
.q2y6ezfg {
    background-color: var(--always-white);
}

.ak7q8e6j {
    border-top-right-radius: var(--button-corner-radius);
}

.j5wkysh0 {
    margin-right: 3px;
}
.hytbnt81 {
    margin-left: 3px;
}
.slwcbde0 {
    width: 80vw;
}
.mt3fbsrg {
    max-width: 900px;
}
.hu5pjgll {
    vertical-align: -0.25em;
}
.hqlzco19 {
    border-bottom-right-radius: 12px;
}
.d6rk862h {
    background-color: var(--always-dark-overlay);
}
.pgeiv1et {
    background-color: var(--placeholder-icon);
}

.djkytl3r {
    height: 28vh;
}
.rnx8an3s {
    left: 12px;
}

.d2iitwg3 {
    bottom: 12px;
}
.o3c63hce {
    border-top-right-radius: 12px;
}
.lsl2245n {
    border-bottom-left-radius: 12px;
}
.lit7pgxp {
    border-top-left-radius: 12px;
}
textarea, .inputtext, .inputpassword {
    -webkit-appearance: none;
    border: 1px solid #ccd0d5;
    border-radius: 0;
    margin: 0;
    padding: 3px;
}
input, select, textarea {
    color: #1c1e21;
}
.izx4hr6d {
    border-left: none;
}
.humdl8nn {
    border-bottom: none;
}
.gcieejh5 {
    border-top: none;
}
.bn081pho {
    border-right: none;
}

.lzcic4wl {
    outline: none;
}
.jagab5yi {
    font-size: 1rem;
}


.bp9cbjyn {
    align-items: center;
}
.ljni7pan {
    width: 60px;
}
.bkmhp75w {
    border-bottom-right-radius: 50%;
}

.f0kvp8a6 {
    max-height: 80vh;
}

.rm21btxo {
    right: 36px;
}
.qpd6qd77 {
    right: 9px;
}
.kgtf8isp {
    opacity: .7;
}
.c98fg2ug {
    background-color: var(--disabled-button-background);
}
.tv7at329 {
    height: 36px;
}
.thwo4zme {
    width: 36px;
}
.oqnctjl6 {
    right: 10px;
}

.jk2qo03r {
    transform: scale(.8);
}
.hn33210v {
    background-color: var(--popover-background);
}



.enqfppq2 {
    margin-bottom: -4px;
}
.rnr61an3 {
    background-color: var(--hover-overlay);
}
.tgvbjcpo {
    min-height: 0;
}




.enqfppq2 {
    margin-bottom: -4px;
}
.du4w35lb {
    z-index: 0;
}

.i94ygzvd {
    background-color: var(--card-background-flat); 
}
.fuffjjn7 {
    min-height: 150px;
}
.sx5rzos5 {
    background-color: var(--non-media-pressed);
}
.apxknhg1 {
    height: calc(80vh - 60px);
}
.mhxlubs3 {
    font-size: 2rem;
}
.lrazzd5p {
    font-weight: 600;
}
.fbipl8qg {
    border-bottom-right-radius: var(--card-corner-radius);
}
.f85e0ade {
    max-height: 221px;
}

.r57mb794 {
    perspective-origin: right top;
}
.g6srhlxm {
    background-color: var(--wash);
}
.eg9m0zos {
    overflow-y: auto;
}
.du4w35lb {
    z-index: 0;
}



.c3g1iek1 {
    overscroll-behavior-y: contain;
}
.rl04r1d5 {
    margin-left: -4px;
}

.lhclo0ds {
    flex-wrap: wrap;
}
.jifvfom9 {
    justify-content: flex-start;
}

.enqfppq2 {
    margin-bottom: -4px;
}
.dlv3wnog {
    margin-right: -4px;
}
.stjgntxs {
    overflow-y: hidden;
}
.ni8dbmo4 {
    overflow-x: hidden;
}



.q5bimw55.ofs802cu.pohlnb88::-webkit-scrollbar {
    width: 4px;
    }
    .q5bimw55.ofs802cu.pohlnb88::-webkit-scrollbar-track {
    background-color: #fff;
    }
    /* Handle */
    .q5bimw55.ofs802cu.pohlnb88::-webkit-scrollbar-thumb {
    background: #b30000;
    border-radius: 4px;
    }
    .q5bimw55.ofs802cu.pohlnb88::-webkit-scrollbar {
    width: 4px;
    }
    .q5bimw55.ofs802cu.pohlnb88::-webkit-scrollbar-track {
    background-color: #fff;
    }

    .oud54xpy {
        margin-bottom: 10px;
    }
    .l9qdfxac {
        margin-top: 26px;
    }
    .knj5qynh {
        font-weight: normal;
    }
    
    
    .add-file-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
        border-radius: 8px;
        border: 1px solid rgb(170, 170, 167);
    }
    .add-file-wrapper{
        display: flex;
        align-items: center;
        background-color: rgb(233, 232, 232);
        padding: 8px 10px;
        border-radius: 8px;
        cursor:pointer ;
    }
    .add-file-wrapper:hover{
        background-color: rgb(212, 211, 211);
    }
    .fo6rh5oj {
        line-height: 1.25;
    }
    .f1sip0of {
        touch-action: manipulation;
    }
    .dati1w0a {
        padding-left: 16px;
    }
    .fgv6swy9 {
        top: 18px;
    }
    .dd2scrzq {
        transform-origin: top left;
    }
    
    .b7h9ocf4 {
        transition-timing-function: var(--fds-soft);
    }
    .b5fwa0m2 {
        right: 8px;
    }
    
    .o6r2urh6 {
        cursor: text;
    }

    .qbxu24ho {
        border-top-color: var(--divider);
    }
    
    .lxuwth05 {
        border-bottom-color: var(--divider);
    }
    .jcgfde61 {
        border-left-width: 1px;
    }
    .h2mp5456 {
        border-left-color: var(--divider);
    }
    
    .frvqaej8 {
        border-top-width: 1px;
    }
    .ed0hlay0 {
        border-right-width: 1px;
    }
    
    .bxzzcbxg {
        border-right-color: var(--divider);
    }
    .afxsp9o4 {
        border-bottom-width: 1px;
    }
    
    label {
        color: #606770;
        cursor: default;
        font-weight: 600;
        vertical-align: middle;
    }

    .facebook-list-emoji{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .facebook-emoji{
        width: 50%;
        border-radius: 8px;
        cursor: pointer;
        
    }
    .facebook-item-emoji{
        padding:8px;
        display: flex;
        align-items: center;
    }
    .facebook-emoji .facebook-emoji-image{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        margin-right: 8px;
    }
    .facebook-DivRadioWrapper{
        padding:12px;
        max-height: 50vh;
        overflow: auto;
    }
    .facebook-DivRadioWrapper::-webkit-scrollbar{
        width: 8px;
    }
    .facebook-DivRadioWrapper::-webkit-scrollbar-track{
        border-radius: 4px;
    }
    .emotion-post{
        display: inline;
    }
    .emotion-post img{
        padding-top: 4px;
        
    }
    .facebook-DivRadioWrapper::-webkit-scrollbar-thumb{
        background-color: rgb(170, 170, 167);
        border-radius: 4px;
    }
    .facebook-emoji .facebook-emoji-name{
        color: rgb(53, 53, 52);
    }
.kgtf8isp .div-size{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    }
.div-size:hover{
    background-color: rgb(212, 211, 211);
    border-radius: 50%;
}
.kgtf8isp .face-icon-img i{  
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/_xsMaU2JwVR.png") !important; 
    background-position: 0px -158px !important; 
    background-size: auto; background-repeat: no-repeat; 
    display: inline-block;
    width: 24px !important;
    height: 24px !important;
}
.facebook-emoji:hover{
        cursor: pointer;
        background-color: rgb(243, 243, 241);
    }
    .k01i5q8h {
        bottom: 10px;
    }
.facebook-edit-container{
    width: 360px;
    position: relative;
    padding-top: 16px;
}

.facebook-edit-wrap{
padding:16px 12px 54px 12px;
height: 100%;
overflow: auto;
box-sizing: border-box;
background: #ffff;
}
.facebook-edit-wrap::-webkit-scrollbar{
    width: 0;
}
.c55xq0r4 {
    bottom: 64px;
}
.file-edit-container{
    padding: 8px;
}
.file-edit-container::-webkit-scrollbar{
    width: 6px;
}
.file-edit-container::-webkit-scrollbar-thumb{
    background-color: rgb(170, 170, 167);
    border-radius: 4px;
}
.facebook-emoji .facebook-emoji-name{
    color: rgb(53, 53, 52);
}
.t4nbt77m {
    max-width: 330px;
}
.tag-body{
    border-top: 1px solid rgb(235, 235, 231);
}
.pthvdlie {
    max-height: 160px;
}
.p0x8y401 {
    padding-top: 26px;
}

.idiwt2bm {
    height: auto;
}
.idiwt2bm {
    height: auto;
}
.tag-container-body{
    width: 100%;
    padding: 4px 8px;
    border:1px solid rgb(235, 235, 231)
}
.facebook-edit-note-container{
border-radius: 10px;
background-color: rgb(243, 243, 241);
height: 120px;
padding:8px 12px;
}
.facebook-edit-note-container .facebook-note{
height: 100%;

}
.facebook-note textarea{
background-color: transparent;
width: 100%;
padding: 0;
height: 100%;
border:none;
resize: none;
}
.facebook-edit-actions{
display: flex;
margin: 12px 0;
flex-direction: column;
padding:4px 10px
}
.facebook-edit-action{
margin-bottom: 8px;
padding:6px 8px;
border-radius: 6px;
display: flex;
align-items: center;
}

.c0p38np4 {
    top: 10px;
}
.facebook-edit-action:hover{
    background-color: rgb(243, 243, 241);
    cursor: pointer;
}
.facebook-edit-action-icon{
border-radius: 50%;
background-color: rgb(206, 206, 204);
width: 40px;
display: flex;
align-items: center;
justify-content: center;
height: 40px;
margin-right: 8px;
}
.facebook-item-close{
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    cursor: pointer;
}
.facebook-tag-user-file{
    background-color: #fff;
    padding:6px 12px;
    width: 160px;
    border-radius: 8px;
}
.facebook-item-close:hover{
    background-color: rgb(226, 226, 224);
}
.color-white{
    color: #e4e6eb
}
.kpb67iw4 {
    background-image: var(--always-dark-gradient);
}

.facebook-edit-action-name{
font-size: 16px;
color:rgb(68, 68, 67)
}
.facebook-edit-bottom{
position: absolute;
box-shadow: 0 1px 5px rgb(212, 211, 211);
bottom: 0;
width: 100%;
padding: 12px 16px;
box-sizing: border-box;
right: 0;
z-index: 100;
}

.facebook-edit-file-container{
background-color: rgb(24, 24, 23);

min-width: 360px;
min-height: calc(70vh - 60px);
}
.facebook-edit-file-wrap{
    height: 100%;
    width: 100%;
    position: relative;
    padding:0 60px
}
.facebook-edit-file{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.center{
    justify-content: center;
}
.bnt-action {
    position: absolute;
    top:50%;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -50%);

}
.btn-disabled{
    visibility: hidden;
    opacity: 0;
}
.bnt-action:hover{
    background: rgb(243, 243, 241);
}
.btn-preview{
    left: 10px;
}
.btn-next{
right: 10px;
}
.eb18blue {
    -webkit-filter: var(--filter-always-white);
}
.facebook-action-active{
background-color: var(--hosted-view-selected-state);
}
.facebook-action-active:hover{
    background-color: rgb(191, 220, 243);
}
.facebook-edit-image{
   position: relative;
    height: 324px;
    cursor: pointer;
}
.facebook-action-active .facebook-edit-action-icon{
    background-color: rgb(92, 141, 233);
}
.facebook-add-tag-file{
background-color: #fff;
padding:6px 12px;
width: 200px;
border-radius: 8px;
z-index: 1000;
box-shadow: 0 1px 5px rgb(212, 211, 211);
}
.facebook-input-tag{
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid rgb(243, 243, 241);
    padding: 6px 12px;
}
.file-tag-position{
z-index: 10000;
border-radius: 4px;
border: 2px solid rgb(243, 243, 241);
width: 60px;
height: 60px;
box-shadow:  1px rgb(212, 211, 211);
}

.oo9gr5id {
    color: var(--primary-text);
}


.jg4yhqs5 {
    padding-left: 34px;
}


.s1tcr66n {
    border-bottom: 1px solid var(--divider);
}
.maa8sdkg {
    border-right: 1px solid var(--divider);
}
.l6v480f0 {
    border-top: 1px solid var(--divider);
}
.aypy0576 {
    border-left: 1px solid var(--divider);
}
                                        
.facebook-file-tags{

}
.facebook-tag{
    display: flex;
    align-items: center;
}
.facebook-tag-avatar{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-div .tiktok-1vwgyq9-DivInputAreaContainer{
padding: 0 16px 12px;
min-height: 50px;
}
.input-div .DraftEditor-root{
    text-align: left;
}

.home-file-container{
width: 100%;
padding-top: 0;
}
.home-file-wrapper{
background-color: #1c1e21;
min-width: 0;
display: flex;
align-items: center;
justify-content: center;

}
.pt-50{
    padding-top: 50px;
}
.home-file-body{
display: flex;
justify-content: center;
align-items: center;
max-height: 100%;
}
.home-file{
    min-width: 320px;
    max-height: 100%;
    padding: 50px;
}
.list-action-file{
position: absolute;
top:20px;
right: 20px;
display: flex;
}
.container-file,.container-file-chat{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 100%;
}
