.qsy8amke {
    background-color: var(--web-wash);
}

.q9uorilb {
    display: inline-block;
}
.j83agx80 {
    display: flex;
}

.du4w35lb {
    z-index: 0;
}

.tkr6xdv7 {
    z-index: 1;
}
.re5koujm {
    left: 16px;
}
#zoom {
  width: 50px;
  height: 50px;
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
  cursor: grab;
}
.datstx6m.pmk7jnqg.kfkz5moi.rk01pc8j{
    touch-action: none;
}
div#zoom > img {
  width: 100%;
  height: auto;
}

.font-story{
    text-align: center; 
    font-style: normal; 
    font-weight: bold; 
    color: rgba(255, 255, 255, 0.5); 
    visibility: visible
}
.d8o5xnl0 {
    padding-left: 28px;
}
.czywrmwm {
    width: calc(100% - 56px);
}
.r7dfy6xl {
    border-right-color: transparent;
}
.jgf7e1nu {
    border-top-color: transparent;
}
.d06cv69u {
    border-bottom-color: transparent;
}
.cdcbzqsl {
    border-left-color: transparent;
}
.og13rbbo {
    border-left-color: var(--accent);
}
.nxp5a7ae {
    border-bottom-color: var(--accent);
}
.ng4oes9w {
    border-top-color: var(--accent);
}
.enlbkfmh {
    transform: scale(1.1666666666666667);
}
.ph5uu5jm {
    padding-right: 4px;
}



.b3onmgus {
    padding-left: 4px;
}
.dati1w0a {
    padding-left: 16px;
}

.rz4wbd8a {
    padding-right: 0;
}
.pybr56ya {
    padding-top: 12px;
}
.m9osqain {
    color: var(--secondary-text);
}
.tr9rh885 {
    margin-top: 16px;
}

.e5d9fub0 {
    height: 56px;
}

.re5koujm {
    left: 16px;
}
.p8tpcahk {
    left: 38px;
}
.m6k467ps {
    -webkit-filter: var(--filter-secondary-icon);
}

.epui8hbc {
    border-right-color: var(--accent);
}
.kj0jemqk {
    padding-right: 28px;
}
.kfkz4moi{
left:10px
}
.qypqp5cg {
    height: 40px;
}
.q676j6op {
    width: 40px;
}

.k4u0uxbm {
    top: calc((var(--header-height) - 40px)/2);
}
.b5wmifdl {
    opacity: 0;
}
.tdjehn4e {
    background-color: var(--secondary-button-background);
}

.spb7xbtv {
    border-bottom-left-radius: 50%;
}
.s45kfl79 {
    border-top-left-radius: 50%;
}
.rz4wbd8a {
    padding-right: 0;
}
.rq0escxv {
    box-sizing: border-box;
}

.qt6c0cv9 {
    padding-bottom: 0;
}

.oygrvhab {
    margin-bottom: 0;
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}
.nhd2j8a9 {
    cursor: pointer;
}

.kvgmc6g5 {
    margin-top: 0;
}
.jb3vyjys {
    padding-top: 0;
}

.hcukyx3x {
    margin-left: 0;
}
.f1sip0of {
    touch-action: manipulation;
}
.emlxlaya {
    border-top-right-radius: 50%;
}



.a8nywdso {
    padding-left: 0;
}
.sk4xxmp2 {
    border-left-width: 0;
}
.rt8b4zig {
    border-top-width: 0;
}
.n8ej3o3l {
    border-right-width: 0;
}

.r7d6kgcz {
    border-left: 0;
}
.qu0x051f {
    border-top: 0;
}
.esr5mh6w {
    border-right: 0;
}
.e9989ue4 {
    border-bottom: 0;
}



.lzf7d6o1 {
    -webkit-filter: var(--filter-primary-icon);
}

.ot9fgl3s {
    transition-timing-function: var(--fds-animation-fade-out);
}

.hzruof5a {
    pointer-events: none;
}
.py2didcb {
    transform: translate(-50%,-50%);
}
._5rpa ._5rpb{
    text-align:center
}
.c5ndavph {
    transition-duration: var(--fds-duration-extra-extra-short-out);
}
.odw8uiq3 {
    width: 20px;
}


.jnigpg78 {
    height: 20px;
}
.a7woen2v {
    cursor: move;
}
.j8rxnqxn {
    transform: translate(85%,-85%);
}
.rgmg9uty {
    height: 24px;
}
.b73ngqbp {
    width: 24px;
}
.abiwlrkh {
    -webkit-user-select: none;
}
.mx9os10e {
    width: 6px;
}
.am38r5jf {
    height: 6px;
}
.h5qj88ue {
    transform: translate(85%,85%);
}
.fd5l4qr9 {
    transform: translate(-85%,85%);
}
.a3fe08na {
    transform: rotate(90deg);
}
.art1omkt {
    transition-property: opacity;
}

.jifvfom9 {
    justify-content: flex-start;
}

.rek2kq2y {
    overflow-anchor: none;
}

.o36gj0jk {
    width: 360px;
}

.o36gj0jk {
    width: 360px;
}


.hybvsw6c {
    background-color: var(--surface-background);
}
.dp1hu0rb {
    min-height: inherit;
}
.cjfnh4rs {
    box-sizing: content-box;
}

.q0erg9cb {
    --T68779821: 0 1px 4px var(--shadow-1);
    -webkit-box-shadow: var(--T68779821);
    box-shadow: 0 1px 4px var(--shadow-1);
}
.flex-center.ex8pc616{
border-top: 1px solid rgba(20, 17, 17, 0.5);
}
.f10w8fjw {
    padding-bottom: 8px;
}
.dhxd5tqv {
    padding-top: 24px;
}
.bottom-fotter{
    display: flex;
    justify-content: flex-end;
    padding:16px
}
.a6y00v3l {
    align-items: baseline;
}
.ofv0k9yr {
    padding-bottom: 20px;
}
.item-story:hover{
    background-color: rgba(219, 217, 217, 0.5);
    border-radius: 6px;
}
.m9osqain {
    color: var(--secondary-text);
}
.hy1o8qpp {
    margin-top: -15px;
}
.ofv0k9yr {
    padding-bottom: 20px;
}
.aodizinl {
    padding-top: 20px;
}
.tvfksri0 {
    margin-right: 12px;
}


.b3i9ofy5 {
    background-color: var(--comment-background);
}
.sxpk6l6v {
    margin-top: -20px;
}
.wkznzc2l {
    margin-right: 16px;
}

.byvelhso {
    height: 56px;
}

.owycx6da {
    flex-wrap: nowrap;
}
.n851cfcs {
    margin-bottom: 12px;
}

.jei6r52m {
    margin-top: 20px;
}

.i1fnvgqd {
    justify-content: space-between;
}

.dhix69tm {
    margin-left: 16px;
}

.g5gj957u {
    flex-shrink: 1;
}


.kud993qy {
    flex-basis: calc(100% * (2/3));
}

.hpfvmrgz {
    min-width: 0;
}

.dz1kfvuc {
    flex-basis: calc(100% / 3);
}


.tvfksri0 {
    margin-right: 12px;
}
.nqmvxvec {
    align-self: flex-start;
}
.mkhogb32 {
    display: none;
}
.pzggbiyp {
    vertical-align: bottom;
}
.q10oee1b {
    max-width: 100vw;
}
.jbae33se {
    padding-bottom: 24px;
}
.gpl4oick {
    padding-right: 24px;
}
.gm7ombtx {
    padding-left: 24px;
}
.bjjx79mm {
    padding-top: 24px;
}
.sej5wr8e {
    margin-bottom: 20px;
}

element.style {
}
#facebook .system-fonts--body span {
    font-family: inherit;
}
.qv66sw1b {
    word-break: break-word;
}
.oqcyycmt {
    text-align: center;
}
.o3w64lxj {
    font-size: 1.25rem;
}
.be9z9djy {
    top: var(--header-height);
}
.jgljxmt5 {
    min-height: 100vh
}
.mlqo0dh0 {
    fill: none;
}
.kzx2olss.dflh9lhu:hover{
    background: rgba(255, 255, 255, 0.5);
}
.miomc0xe {
    top: 36px;
}
.nkeuobq6 {
    width: calc(100% - 130px);
}

.e72ntyah {
    text-shadow: 0 1px 1px 0 var(--shadow-1);
}
.e9vueds3 {
    font-size: .8125rem;
}
.tw6a2znq {
    padding-left: 12px;
}

.lc1rz9xl {
    width: calc(100% - 12px);
}
.c1et5uql {
    word-wrap: break-word;
}
.ltmttdrg {
    text-overflow: ellipsis;
}
.rqz36ts4 {
    max-width: calc(100% - 30px);
}
.kv0qyzoi {
    width: calc(100% - 24px);
}
.sibfvsnu {
    border-top-left-radius: 100px;
}
.ouam3tkm {
    background-color: var(--placeholder-text-on-media);
}
.m96f97by {
    background-color: var(--secondary-text-on-media);
}
.os6ic53g {
    height: calc(100% - 100px);
}
.czywrmwm {
    width: calc(100% - 56px);
}
.iix1gpk6 {
    font-size: 1.375rem;
}
.cgat1ltu {
    margin-right: 4px;
}

.b2wla6dc {
    padding-top: 80px;
}
.px9q9ucb {
    border-top-right-radius: 100px;
}
.oqk3gwch {
    margin-bottom: 56px;
}
.j30p9oib {
    max-width: 343px;
}
.dmwoc352 {
    width: calc(100% - 32px);
}
.t6snl0w5 {
    top: 2.5%;
}
.q346qzrl {
    right: 20.5%;
}
.pe61uq6d {
    transform: rotate(-10deg) scale(.6);
}
.mwd26vqw {
    width: 35%;
}
.hwddc3l5 {
    position: static;
}
.ns4ygwem {
    border-bottom-left-radius: 10px;
}

.a0jftqn4 {
    width: calc(100% + 6px);
}
.dmwoc352 {
    width: calc(100% - 32px);
}
.tqsryivl {
    background-color: var(--always-black);
}
.rk01pc8j {
    top: 50%;
}
.m7zwrmfr {
    height: 48px;
}
.lqlvxoni {
    width: 690px;
}
.emoij-bottom{
position:absolute;
top:50%;
transform:translate(-50%,-50%);
width: 580px;
left:50%;
height: 48px;
justify-content: center;
}
.nnctdnn4 {
    min-height: 44px;
}
.n851cfcs {
    margin-bottom: 12px;
}

.sq6gx45u {
    font-size: .75rem;
}
.qnrpqo6b {
    padding-left: 5px;
}
.pby63qed {
    padding-bottom: 3px;
}
.p0leutie {
    border-bottom-right-radius: 15px;
}
.linoseic {
    padding-top: 3px;
}
.kbv20vi1 {
    border-bottom-left-radius: 15px;
}
.jxrgncrl {
    padding-right: 5px;
}
.j1l0snac {
    animation-fill-mode: forwards;
}
.iuug3ofb {
    background-color: var(--shadow-8);
}
.flame {
    position: absolute;
    z-index: 2;
    display: inline-block;
   top:0;
   left:0
  }
  .d23ldmr1 {
    height: 200px;
}
.gubt14e3 {
    bottom: -22px;
}
.gfu8pxt1 {
    height: 80px;
}
.h676nmdw {
    margin-left: 8px;
}

.ph5uu5jm {
    padding-right: 4px;
}
.o60ks4k0 {
    top: 91px;
}
.labbqbtg {
    bottom: 8px;
}

.kavbgo14 {
    z-index: 2;
}

.eluhq753 {
    padding-top: 18px;
}

.cwj9ozl2 {
    background-color: var(--card-background);
}
.b3onmgus {
    padding-left: 4px;
}
.py5xhhw8 {
    height: 152.0006px;
}
.jbae33se {
    padding-bottom: 24px;
}
.bjjx79mm {
    padding-top: 24px;
}
.tvfksri0 {
    margin-right: 12px;
}
.ay7djpcl {
    height: 1px;
}
.pwoa4pd7 {
    background-color: var(--divider);
}
.tr9rh885 {
    margin-top: 16px;
}
.gtad4xkn {
    margin-left: 7px;
}
.g1cxx5fr {
    line-height: 1.1765;
}
.a5q79mjw {
    font-size: 1.0625rem;
}

.a3bd9o3v {
    line-height: 1.3333;
}
.o60ks4k0 {
    top: 91px;
}
.lc891dc2 {
    height: 96px;
}

.hihg3u9x {
     overflow-x: visible; 
}
.ggxiycxj {
    overflow-y: visible; 
}
.lc891dc2:hover{
    opacity: 0.6;
    background-color: #18191a;
}
.nhd2j8a9 {
    cursor: pointer;
}
.kkf49tns {
    margin-left: 4px;
}
.scb9dxdr.beltcj47.r7d6kgcz:hover{
    background-color: rgba(229, 226, 226, 0.5);
}
.kzx2olss:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.sgn1ogh8 {
    top: -6px;
}
.evds00iz {
    left: 26px;
}
.oeao4gh3 {
    width: 56px;
}
.gjzvkazv {
    width: 100px;
}
.cubx1xtm {
    background-color: var(--always-light-overlay);
}
.ay7djpcl {
    height: 1px;
}
.aahdfvyu {
    margin-top: 4px;
}
.gtad4xkn {
    margin-left: 7px;
}
.g1cxx5fr {
    line-height: 1.1765;
}
.a5q79mjw {
    font-size: 1.0625rem;
}
.flame.animate {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: flame-animation;
    opacity: 0;
    z-index: 1;
    transform: translate3d(0, 15px, 0) scale(0.75) rotate(0);
    z-index: 1;
    animation-timing-function: ease-in;
  }
  @keyframes flame-animation {
    0%,
    100% {
      opacity: 0;
      transform: translate3d(0, 0, 0) scale(0.35) rotate(0) scale(1);
    }
    25% {
      opacity: 0.85;
      transform: translate3d(0, -150%, 0) scale(1) rotate(-3deg) scale(1.05);
    }
    50% {
      opacity: 0.65;
      transform: translate3d(0, -250%, 0) scale(0.85) rotate(3deg) scale(1.1);
    }
    75% {
      opacity: 0.45;
      transform: translate3d(0, -400%, 0) scale(0.75) rotate(-3deg) scale(1.05);
    }
    90% {
      opacity: 0;
      transform: translate3d(0, -500%, 0) scale(0.5) rotate(0) scale(1);
    }
  }
  .flame.animate {
    animation-delay: 0.5s;
  }
.rbpys9yp {
    color: var(--primary-text-on-media,var(--always-white));
}
.inxzxsdm {
    border-top-right-radius: 15px;
}
.h9pa7xm5 {
    animation-iteration-count: 1;
}
.dgqlqyvj {
    bottom: calc(123% + 5px);
}
.cj5g2342 {
    transform: translateX(-50%);
}
.sbevj9st {
    animation-name: e5hlw9lw-B;
}
.emoji-item:hover{
transform: scale(1.16);
cursor: pointer;
}
._1p1t {
    color: #90949c;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.draft-text{
color:#fff;
border-radius: 16px;
border: 1px solid #fff;
padding: 6px 12px;
font-size: 14px;
flex-basis: 220px;
}
.kfkz5moi {
    left: 50%;
}
.py2didcb {
    transform: translate(-50%,-50%);
}
.ama3r5zh {
    margin-bottom: 15px;
}
.tmrshh9y {
    width: 48px;
}
.hgaippwi {
    border-top-right-radius: 10px;
}

.fykbt5ly {
    border-bottom-right-radius: 10px;
}
.fni8adji {
    border-top-left-radius: 10px;
}
.p4hiznlx {
    border-bottom-left-radius: 100px;
}
.ouam3tkm {
    background-color: var(--placeholder-text-on-media);
}
.j2ut9x2k {
    border-bottom-right-radius: 100px;
}
.hhnejfq7 {
    flex: 1 1 auto;
}
.sgqwj88q {
    transition-timing-function: linear;
}
.l3d94uoy {
    will-change: width;
}

.g0qnabr5 {
    white-space: nowrap;
}

.o8bxvmiv {
    top: 28px;
}
.b0upgy8r {
    max-height: 17px;
}
.aovydwv3 {
    align-items: flex-end;
}
.wkznzc2l {
    margin-right: 16px;
}

.nc684nl6 {
    display: inline;
}
.n00je7tq {
    border-top-left-radius: inherit;
}

.k77z8yql {
    border-bottom-left-radius: inherit;
}


.g5ia77u1 {
    background-color: transparent;
}
.f86282pt {
    width: calc((100% - 20px) / 2);
}
.f1sip0of {
    touch-action: manipulation;
}

.arfg74bv {
    border-top-right-radius: inherit;
}

.r7d6kgcz {
    border-left: 0;
}
.qu0x051f {
    border-top: 0;
}
.esr5mh6w {
    border-right: 0;
}
.e9989ue4 {
    border-bottom: 0;
}

.rdhfdfv2 {
    max-width: calc(100% - 48px);
}

.nzypyw8j {
    margin-bottom: 32px;
}
.ng3hk9f3 {
    width: 972px;
}

.k9knd09w {
    margin-top: var(--header-height);
}

.kfkz5moi {
    left: 50%;
}

.cj5g2342 {
    transform: translateX(-50%);
}
.qrtewk5h {
    color: var(--primary-text-on-media);
}
.b1v8xokw {
    font-weight: 400;
}

.a8c37x1j {
    display: block;
}
.a5q79mjw {
    font-size: 1.0625rem;
}

.kc3q97z2 {
    z-index: 10000;
}




.todgtsvd {
    border-bottom: 1px solid var(--always-white);
}
.okr6w53f {
    border-top: 1px solid var(--always-white);
}
.mher9iwd {
    border-right: 1px solid var(--always-white);
}
.ddn55etz {
    border-left: 1px solid var(--always-white);
}

.qs9ysxi8 {
    border-bottom-right-radius: inherit;
}


.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}

.n00je7tq {
    border-top-left-radius: inherit;
}
.mg4g778l {
    flex-basis: auto;
}

.gs1a9yip {
    align-items: stretch;
}
.g5ia77u1 {
    background-color: transparent;
}
.f1sip0of {
    touch-action: manipulation;
}

.cxmmr5t8 {
    margin-right: 0;
}
.btwxx1t3 {
    flex-direction: row;
}

.arfg74bv {
    border-top-right-radius: inherit;
}
.abiwlrkh {
    -webkit-user-select: none;
}

.tlpljxtp {
    border-right-color: var(--always-dark-overlay);
}

.qensuy8j {
    border-bottom-color: var(--always-dark-overlay);
}
.ppp5ayq2 {
    border-left-color: var(--always-dark-overlay);
}
.mtkw9kbi {
    border-top-color: var(--always-dark-overlay);
}

.ccm00jje {
    border-right-style: solid;
}
.agehan2d {
    border-bottom-width: 0;
}
.p7hjln8o {
    list-style: none;
}

.rk01pc8j {
    top: 50%;
}


.eg9m0zos {
    overflow-y: auto;
}




.sjgh65i0 {
    margin-bottom: 16px;
}

.t51s4qs2 {
    border-top-color: var(--media-inner-border);
}

.rj06g9kl {
    border-left-color: var(--media-inner-border);
}
.qc3rp1z7 {
    border-bottom-color: var(--media-inner-border);
}


.rj1gh0hx {
    flex-basis: 0px;
}
.tltl5a5h {
    background-color: #18191a;
}


.oqq733wu {
    pointer-events: all;
}


.goun2846 {
    border-top-style: solid;
}



.bv6zxntz {
    border-right-color: var(--media-inner-border);
}


.kmp5kqmu {
    --T68779821: 0 2px 12px var(--shadow-2);
    -webkit-box-shadow: var(--T68779821);
    box-shadow: 0 2px 12px var(--shadow-2);
}

.frluczxc {
    margin-left: 24px;
}

.datstx6m {
    height: 100%;
}
.qu8okrzs {
    height: 44px;
}
.eim337gk {
    width: 44px;
}
.tw6a2znq {
    padding-left: 12px;
}
.rdkrh8wx {
    height: 72px;
}
.d1544ag0 {
    padding-right: 12px;
}
.kkf49tns {
    margin-left: 4px;
}
.cgat1ltu {
    margin-right: 4px;
}


.d1544ag0 {
    padding-right: 12px;
}


.bwm1u5wc {
    color: var(--primary-button-text);
}
.q676j6op {
    width: 40px;
}
.keod5gw0::before {
    content: "";
}
.d3f4x2em::before {
    margin-top: -5px;
}
.aigsh9s9::before {
    height: 0;
}
.iv3no6db::after {
    margin-bottom: -4px;
}
.fe6kdd0r::after {
    content: "";
}
.a3bd9o3v {
    line-height: 1.3333;
}
.c8b282yb::after {
    height: 0;
}
.ggphbty4 {
    margin-left: 6px;
}
.h676nmdw {
    margin-left: 8px;
}
.b3i9ofy5 {
    background-color: var(--comment-background);
}

.bfjqzvhc {
    --T68779821: 0 1px 0 var(--media-inner-border);
    -webkit-box-shadow: var(--T68779821);
    box-shadow: 0 1px 0 var(--media-inner-border);
}
.ay7djpcl {
    height: 1px;
}
.rnr61an3 {
    background-color: var(--hover-overlay);
}
.aov4n071 {
    margin-top: 8px;
}
.h2jyy9rg {
    border-top-right-radius: 50px;
}
.br7hx15l {
    border-top-left-radius: 50px;
}
.owxd89k7 {
    border-bottom-left-radius: 50px;
}
.n3ddgdk9 {
    border-bottom-right-radius: 50px;
}
.hv4rvrfc {
    padding-right: 16px;
}

.dati1w0a {
    padding-left: 16px;
}
.ozuftl9m {
    margin-left: 12px;
}

.hzawbc8m {
    text-align: left;
}
.qzhwtbm6 {
    margin-bottom: 5px;
}
.knvmm38d {
    margin-top: 5px;
}

.aodizinl {
    padding-top: 20px;
}
.tojvnm2t {
    align-content: inherit;
}

.cxgpxx05 {
    padding-top: 8px;
}
.mw227v9j {
    height: 4px;
}
.s8bnoagg {
    border-top-left-radius: 2px;
}
.pwoa4pd7 {
    background-color: var(--divider);
}

.hp05c5td {
    border-bottom-right-radius: 2px;
}
.bn9qtmzc {
    border-top-right-radius: 2px;
}
.b6jg2yqc {
    border-bottom-left-radius: 2px;
}

.jnigpg78 {
    height: 20px;
}
.odw8uiq3 {
    width: 20px;
}
.sv5sfqaa {
    margin-top: -8px;
}
.o3lre8g0 {
    margin-right: 10px;
}

.eb18blue {
    -webkit-filter: var(--filter-always-white);
}


.qowsmv63 {
    max-height: inherit;
}
.q3lfd5jv {
    flex-grow: inherit;
}
.pk4s997a {
    flex-shrink: inherit;
}
.owwhemhu {
    max-width: inherit;
}

.k5wvi7nf {
    flex-direction: inherit;
}
.iyyx5f41 {
    width: inherit;
}
.dp1hu0rb {
    min-height: inherit;
}
.dhp61c6y {
    min-width: inherit;
}
.cebpdrjk {
    justify-content: inherit;
}
.bipmatt0 {
    height: inherit;
}
.a8s20v7p {
    display: inherit;
}
.a6sixzi8 {
    align-items: inherit;
}
.pwoa4pd7 {
    background-color: var(--divider);
}
.is6700om {
    background-color: var(--accent);
}
.hp05c5td {
    border-bottom-right-radius: 2px;
}
.bn9qtmzc {
    border-top-right-radius: 2px;
}
.b6jg2yqc {
    border-bottom-left-radius: 2px;
}


.e5bbllhu {
    margin-left: -10px;
}
.tgvbjcpo {
    min-height: 0;
}
.spb7xbtv {
    border-bottom-left-radius: 50%;
}
.s45kfl79 {
    border-top-left-radius: 50%;
}



.oygrvhab {
    margin-bottom: 0;
}
.odw8uiq3 {
    width: 20px;
}
.oajrlxb2 {
    -webkit-tap-highlight-color: transparent;
}
.nhd2j8a9 {
    cursor: pointer;
}
.mg4g778l {
    flex-basis: auto;
}
.kvgmc6g5 {
    margin-top: 0;
}

.jnigpg78 {
    height: 20px;
}
.jb3vyjys {
    padding-top: 0;
}

.ibrqsekg {
    --T68779821: 0 2px 9px var(--media-inner-border);
    -webkit-box-shadow: var(--T68779821);
    box-shadow: 0 2px 9px var(--media-inner-border);
}
.i1ao9s8h {
    text-align: inherit;
}

.hpfvmrgz {
    min-width: 0;
}
.gs1a9yip {
    align-items: stretch;
}
.f1sip0of {
    touch-action: manipulation;
}

.e5bbllhu {
    margin-left: -10px;
}
.du4w35lb {
    z-index: 0;
}
.cxmmr5t8 {
    margin-right: 0;
}
.cbu4d94t {
    flex-direction: column;
}

.a8nywdso {
    padding-left: 0;
}
.s44p3ltw {
    border-bottom-style: solid;
}

.mk2mc5f4 {
    border-left-style: solid;
}





.p7hjln8o {
    list-style: none;
}

.esuyzwwr {
    text-decoration: none;
}
.gu00c43d {
    margin-left: 10px;
}

.n1l5q3vz {
    margin-top: 12px;
}
.bc3a0qav {
    width: 236px;
}


.re5koujm {
    left: 16px;
}
.p8tpcahk {
    left: 38px;
}
.pcp91wgn {
    padding-left: 6px;
}
.p8fzw8mz {
    padding-right: 6px;
}
.iuny7tx3 {
    padding-bottom: 6px;
}
.ipjc6fyt {
    padding-top: 6px;
}
.hm22hv23 {
    text-transform: capitalize;
}
.pthwc45v {
    right: 18px;
}


.ll8tlv6m {
    align-items: flex-start;
}
.lhclo0ds {
    flex-wrap: wrap;
}

.ijttq3ge {
    height: 132px;
}
.gt1oanoe {
    justify-content: space-evenly;
}

.bc3a0qav {
    width: 236px;
}
.qq4y78aw {
    margin-right: 5px;
}

.odw8uiq3 {
    width: 20px;
}
.ri5l3prv {
    box-shadow: 0 0 1px 0 white inset, 0 0 1px 0 white;
}
.hnxzwevs {
    margin-left: 5px;
}
.mx2l840d {
    border-bottom-width: 0.5px;
}


.lxhk6ua7 {
    border-right-width: 0.5px;
}

.kqev5x78 {
    border-top-width: 0.5px;
}

.f8147j9l {
    border-left-width: 0.5px;
}

.r21jmi2h {
    top: 30%;
}
.qbsmby2j {
    outline-color: transparent;
}
.lrazzd5p {
    font-weight: 600;
}
.dsjflrl5 {
    transition-property: transform,top;
}
.a6z558xt {
    outline-width: 1px;
}

._1p1t {
    color: #90949c;
    position: absolute;
    width: 100%;
    z-index: 1;
}
._5rpa ._1p1t {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
._5rpa ._1p1t {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
._5rpa ._1p1t {
    color: var(--secondary-text);
}
._5rpa ._1p1t._1p1u {
    color: var(--placeholder-text);
}

._71pn ._5rp7 {
    z-index: 0;
}
._5rp7 {
    position: relative;
}
._5rp7, ._5rpb, ._5rpu {
    height: inherit;
    text-align: initial;
}
.facebook-story-file-container{
    background-color: #18191a;
height: 100%;
width: 100%;
overflow-x: hidden;
overflow-y: hidden;
}
.facebook-story-file-wrap{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
overflow-x: hidden;
overflow-y: hidden;
}
.facebook-story-file{
    display: flex;
    justify-content: center;
    height: 80%;
    background-color: rgba(229, 226, 226, 0.5);
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: calc(100% - 68px);
}
.facebbok-text-story{
    position: absolute;
    top:40%
}
.ou4ep6bq {
    font-size: 18pt;
}
.n3ffmt46 {
    font-weight: bold;
}
.active-color{
border: 2px solid rgba(110, 177, 231, 0.5);

}
.facebook-story-action{
display: flex;
align-items: center;
}
.facebook-image-crop{
    position: absolute;
    overflow: hidden;
    max-width: 240px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.draf-text-full{
   flex: auto;
}
.r62gjns8 {
    width: calc(100% - 16px);
}
._5rpb {
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    z-index: 1;
}
.draft-text .public-DraftEditorPlaceholder-inner{
   position: absolute;
   top:6px;
   outline: none;
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
 }




